// Angular partial template for {%=name%}
// This will be inserted into a dom as a custom element when angular sees our tag with the associated directive
script(src="{%=name%}.js" type="text/javascript")
p Partial Content Here
span {{testVar}}
ng-transclude